.homeContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.postContainer {
  width: 550px;
  height: 700px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.creatorContainer {
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 10px;
  margin-top: 0;
}
.fallow {
  display: flex;
  justify-content: left;
  align-items: center;
}
.editModalContainer {
  border: 1px black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.iconContainer {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}
.iconContainer * {
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
  margin-left: 5px;
}
.sideProfileContainer {
  padding-top: 10px;
  width: 300px;
  height: 800px;
  position: fixed;
  top: 69px;
  right: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.253);
  border-radius: 10px;
}
.suggestionContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.followContainer {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.editToolsContainer {
  margin-left: 20px;
}
