.profileContainer {
  width: 60%;
  border: 1px solid red;
}
.profileInfo {
  padding: 30px;
  width: 100%;
  height: 300px;
  border: 10px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profilePic {
  object-fit: "cover";
  border-radius: 50%;
  border: 3px solid rgb(122, 122, 128);
}
